* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffe4ec;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  color: #111827;
}

.main-btn,
.submit-btn,
.child-btn,
.delete-btn {
  border: none;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 15px;
  transition: 0.3s;
  font-weight: 600;
}

.main-btn {
  background: #111827;
  color: white;
  display: block;
  margin: 0 auto 30px auto;
}

.submit-btn {
  background: #111827;
  color: white;
  margin-top: 25px;
}

.child-btn {
  background: #111827;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

.question-box {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  border-left: 6px solid #111827;
}

.question-box h3 {
  margin-bottom: 15px;
  color: #111827;
}

.question-box input,
.question-box select {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;
}

.btn-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.child-wrapper {
  margin-left: 40px;
  margin-top: 18px;
}

.preview-box {
  margin-top: 40px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.preview-child {
  margin-left: 30px;
}
.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.toolbar button {
  min-height: 48px;
  padding: 12px 18px;
  border-radius: 16px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}
